@media only screen and (max-width: 1024px) {
  .maincontainer {
    width: 100%;
    min-width: 0;
  }
  .section {

  }
}

@media only screen and (max-width: 800px){

  .section {

  }
}

@media only screen and (max-width: 480px){
  .logo {
    background-size: 80px;
    width: 204px;
    padding: 7px 0 10px 88px;
  }

  .text .name {
    font-size: 1.48em;
  }
  .text .desc {
    font-size: .95em;
  }
}

@media only screen and (orientation: portrait){
  header {
    background-image: url('landing-page-cover-landscape-medium.jpg');
  }
}

@media only screen and (orientation: portrait) and (max-width: 480px) {
  header {
    background-image: url('landing-page-cover-landscape-small.jpg');
  }
}
