@media only screen and (max-width: 1024px) {
  .maincontainer {
    width: 100%;
    min-width: 0;
  }
  .section {
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    padding: 1em .75em 2em;
  }

}

/* SMALL DEVICES Making sure they are detected even in landscape (which gives them a greater width) */
@media screen and (max-width: 434px), screen and (orientation: landscape) and (max-height: 434px) {
  .maincontainer {
    font-size: 1em;
  }
  #more-button {
    bottom: 0px;
    font-size: 2.5em;
  }
  .slogan {
    font-size: 1.5em;
  }

  .min-full-screen-height {
    min-height: calc(100vh - 56px);
  }
  .profile-pic {
    width: 150px;
    height: 150px;
    background-image: url("photo_small.jpg");
  }
  .section {
    padding: 1em 10px 2em;
  }

  .skills li img {
    display: block;
    width: 70px;
  }
}

/* SMALL DEVICES IN LANDSCAPE MODE */
@media screen and (orientation: landscape) and (max-height: 434px) {
  #more-button {
    font-size: 1.5em;
  }
}

@media only screen and (orientation: portrait){

  header {
    background-position: left center;
  }
  header > div {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#404343+0,404343+100&0+0,0.64+34,0.82+58,0.95+87,1+100 */
    background: -moz-linear-gradient(left,  rgba(64,67,67,0) 0%, rgba(64,67,67,0.64) 34%, rgba(64,67,67,0.82) 58%, rgba(64,67,67,0.95) 87%, rgba(64,67,67,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(64,67,67,0) 0%,rgba(64,67,67,0.64) 34%,rgba(64,67,67,0.82) 58%,rgba(64,67,67,0.95) 87%,rgba(64,67,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(64,67,67,0) 0%,rgba(64,67,67,0.64) 34%,rgba(64,67,67,0.82) 58%,rgba(64,67,67,0.95) 87%,rgba(64,67,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00404343', endColorstr='#404343',GradientType=1 ); /* IE6-9 */
  }
}
