body {
  font-size: 16px;
  background-color: #eee;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
}

.nav-container {
  background-color: #efedde;
  /*background-color: rgb(70, 80, 102); /**/
  border-bottom: solid #be946e 15px;
}

.nav-border-bottom {

}

.hidden {
  visibility: hidden;
}


/* Logo  */
.logo {
  /*visibility: hidden; /* */
  width: 256px;
  background: url("logo.png") no-repeat left bottom;
  background-size: 100px;/**/
  display: inline-block;
  font-family:Dosis, sans-serif, serif;
  padding: 9px 0 13px 110px;
}
.text {
  display: inline-block;
  /*float: right;/**/
}
.text .name {
  display: block;
  font-size: 1.65em;
  color: #a1284a;
}
.text .highlight {
  display: block;
  height: 3px;
  background-color: #a1284a;
  text-indent: -9999px;
  margin-bottom: 0px;
}
.text .desc {
  display: block;
  text-align: center;
  font-size: 1.06em;
  border-bottom: solid 0px #f77;
}



header {
  background-image: url(header.jpg);
  background-size: cover;
  background-position: center top;
  /*background-attachment: fixed; /**/
  height: 100vh;
}

.maincontainer {
  /*background-color: lightgray;*/
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 960px;
}

.section {
  font-size: 1.5em;
}
