.lightcontainer {
  background-color: #CFD2CD;
}

.whitecontainer {
  background-color: #eee;
}

.dark-container {
  background-color: #546277;
  color: #dadada;
}

.dark-font {
  color: #3a4040;
}

.light-font {
  color: #dadada;
}
