/* Doccumentation:

   Navigation bar height

     Default 66px total (60px height + 6px border)
     Mobile: 56px total (50px height + 6px border)

   */


/* { .nav default styles (non-mobile & < 960) */
.anchor {
  height: 1px;
  width: 100%;
  margin-bottom: 66px;
}

.nav {
  position: fixed;
  top: 0;
  display: block;
  height: 60px;
  width: 100%;
  font-family: Dosis, sans-serif, serif;
  background-color: #737676;
  color: #dadada;
  text-shadow: 3px 3px 3px rgba(0,0,0, .4);
  border-bottom: solid 6px #286688;
  border-bottom: solid 6px #cc6600;
  box-shadow: 0 4px 8px 2px #404343;
  z-index: 999;
}
.nav > div {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  background-image: url("../logo.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-position: 10px 100%;
  background-size: 80px;
}
.title {
  display: inline-block;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.title h1 {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 3px 0 -5px 85px;
  padding: 0 20px 0 20px;
  font-size: 2em;
}
.title p {
  display: block;
  height: 15px;
  line-height: 20px;
  margin: -5px 0 5px 85px;
  padding: 0 20px 0 20px;
  font-size: 1em;
}
.nav div ul {
  display: block;
  float: right;
  margin: 0 20px 0 0;
  padding: 0;
  height: 60px;
  list-style: none;
}
.nav div ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100px;
  text-align: center;
  font-size: 1.3em;
}
.nav div ul li.social {
  width: 60px;
}
.nav div ul li a {
  display: block;
  margin: 0;
  padding: 0;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}
.nav div ul li a:link,
.nav div ul li a:hover,
.nav div ul li a:visited,
.nav div ul li a:active {
  text-decoration: none;
  color: inherit;
}
.nav div ul li a:hover {
  color: #ec8013;
}
.nav div ul li a span:not(:first-child)::before {
    content: " ";
  }
#menu {
  display: none;
}
/*}*/


/* Media Queries */
@media only screen and (max-width: 959px) {
  /* {.nav general styles */
  .nav div {
    text-align: center;
  }
  .title h1,
  .title p {
    margin-left: 0;
    padding: 0 7px;
  }
  #menu {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 50px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    margin: 0 10px 0 0;
  }
  #menu-links {
    display: none;
  }
  .nav div ul {
    float: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 66px;
    height: 100%;
    margin: 0;
    padding: 5px;
    list-style: none;
    background-color: rgba(5,5,5, .8)
  }
  .nav div ul li {
    display: inline-block;
    margin: 0;
    padding: 5px;
    height: 50px;
    width: calc(50% - 10px);
    text-align: center;
    font-size: 1.3em;

  }
  .nav div ul li.social {
    height: 50px;
    width: calc(50% - 10px);
  }
  .nav div ul li a {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
    background-color: #737676;
  }
  .nav div ul li a:link,
  .nav div ul li a:hover,
  .nav div ul li a:visited,
  .nav div ul li a:active {
    text-decoration: none;
    color: inherit;
  }
  .nav div ul li a:hover {
    background-color: #5d5f5f;
    color: #ec8013;
  }
  /*}*/
}

/* I have no idea why I came up with the number 434px, but it seems small devices
   tend to range from 320px and 414px (iBrokenphone) in width... so this covers them... */
@media screen and (max-width: 434px), screen and (orientation: landscape) and (max-height: 434px) {

  .nav div ul {
    top: 56px;
  }

  #menu {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 2.5em;
    margin: 0 8px 0 0;
  }
  .nav, .nav > div {
    height: 50px;
  }
  .nav > div {
    background-position: -10px 100%;
    background-size: 70px;
  }
  .title {
    height: 50px;
    line-height: 50px;
  }
  .title h1 {
    height: 33px;
    line-height: 33px;
    margin-bottom: -3px;
    font-size: 1.5em;
  }
  .title p {
    height: 12px;
    line-height: 12px;
    margin-top: -3px;
    font-size: .8em;
  }

}
